<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register New Category</h1>
<form th:action="@{/register}" th:object="${itemCategoryDTO}" method="post">
  <label for="cname">Category Name</label>
  <input type="text" id="cname" th:field="*{cName}" required/>

  <label for="cDesc">Category Description</label>
  <input type="text" id="cDesc" th:field="*{cDesc}" required/>

  <button type="submit">Submit</button>
</form>
</body>
</html>